<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="navmenuHeadLinks">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Smart Garage</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
</head>

<body id="body">
<div th:fragment="navbar" th:with="currentUser=${session.get('currentUser')}"></div>
<div th:fragment="navmenu">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" style="font-family:'Droid Serif';  font-style: italic;" href="#"
               th:href="@{/}">Smart Garage</a>
            <button class="navbar-toggler navbar-toggler-right"
                    type="button" data-toggle="collapse"
                    data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ml-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item"  th:if="${currentUser != null}">
                        <a class="nav-link js-scroll-trigger" href="#portfolio"
                           th:href="@{/services}">
                            SERVICES
                        </a>
                    </li>

                    <li class="nav-item"  th:unless="${currentUser != null}">
                        <a class="nav-link js-scroll-trigger" href="#portfolio"
                           th:href="@{/#portfolio}">
                            SERVICES
                        </a>
                    </li>

                    <li class="nav-item" th:if="${currentUser != null}">
                        <a class="nav-link js-scroll-trigger" href="#"
                           th:href="@{/maintenances}">
                            VISITS
                        </a>
                    </li>

                    <li class="nav-item" th:if="${currentUser != null && !currentUser.isCustomer()}">
                        <a class="nav-link js-scroll-trigger" href="/vehicles"
                           th:href="@{/vehicles}">
                            VEHICLES
                        </a>
                    </li>

                    <li class="nav-item" th:if="${currentUser != null && !currentUser.isCustomer()}">
                        <a class="nav-link js-scroll-trigger" href="#"
                           th:href="@{/users}">
                            USERS
                        </a>
                    </li>

                    <li class="nav-item" th:if="${currentUser == null}">
                        <a class="nav-link js-scroll-trigger" href="#team" th:href="@{/#team}">
                            TEAM
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" th:href="@{/#contact}">
                            CONTACT
                        </a>
                    </li>

                    <li class="nav-item" th:if="${currentUser != null}">
                        <div class="dropdown">
                            <a class="nav-link js-scroll-trigger dropbtn" href="#" >
                                <i class="fas fa-user"></i>
                                <span th:text="#{home.welcome(${currentUser.getFirstName()})}"></span>
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <div class="dropdown-content">
                                <a class="nav-link" th:href="@{/users/customer}">PROFILE</a>
                                <a class="nav-link" th:href="@{/users/password/update}">CHANGE PASSWORD</a>
                                <a class="nav-link" th:href="@{/logout}">LOGOUT</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="footer">
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="../static/assets/mail/jqBootstrapValidation.js" th:src="@{/assets/mail/jqBootstrapValidation.js}"></script>
    <script src="../static/assets/mail/contact_me.js" th:src="@{/assets/mail/contact_me.js}"></script>
    <!-- Core theme JS-->
    <script src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
</div>

</body>
</html>