<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<!-- START Search form users-->
<form id="userSearchForm" name="userSearchForm" th:fragment="user-form-search"
      class="form-signin" action="#"
      th:action="@{'/users/search'}"
      th:object="${userSearchParameters}"
      method="post">
  <div class="form-label-group">
    <label for="inputFirstName" th:text="#{user.label.firstname}">First Name</label>
    <input type="text" th:field="*{firstName}" id="inputFirstName" class="form-control"
           placeholder="First name" autofocus>
    <label class="error" th:errors="*{firstName}">First name error placeholder</label>
  </div>

  <div class="form-label-group">
    <label for="inputLastName" th:text="#{user.label.lastname}">Last Name</label>
    <input type="text" th:field="*{lastName}" id="inputLastName" class="form-control"
           placeholder="Last name" autofocus>
    <label class="error" th:errors="*{lastName}">Last name error placeholder</label>
  </div>

  <div class="form-label-group">
    <label for="inputEmail" th:text="#{user.label.email}">Email address</label>
    <input type="text" th:field="*{email}" id="inputEmail" class="form-control"
           placeholder="Email address">
    <label class="error" th:errors="*{email}">Email error placeholder</label>
  </div>
  <div class="form-label-group">
    <label for="inputPhone" th:text="#{user.label.phone}">Phone</label>
    <input type="text" th:field="*{phone}" id="inputPhone" class="form-control"
           placeholder="Phone">
    <label class="error" th:errors="*{phone}">Phone error placeholder</label>
  </div>

  <div class="form-label-group">
    <label for="dropdownVehiclesButton" th:text="#{user.label.vehicles}">Vehicles</label>
    <select type="text" th:field="*{mark}" id="dropdownVehiclesButton" name="dropdownVehiclesButton"
            class="form-control"
            autofocus th:if="${carlist != null}">
      <option value="" selected="selected" hidden="hidden" th:value="-1">Choose here</option>
      <option value="" th:value="0"></option>
      <option th:each="car : ${carlist}"
              th:value="${car.getId()}"
              th:text="${car.getName()}">
      </option>
    </select>
    <label class="error" th:errors="*{mark}">Vehicles error placeholder</label>
  </div>

  <div class="form-label-group">
    <label for="dropdownModelButton" th:text="#{user.label.vehiclemodel}">Vehicle model</label>
    <select type="text" th:field="*{model}" id="dropdownModelButton" name="dropdownModelButton"
            class="form-control" autofocus>
      <option value="" selected="selected" hidden="hidden" th:value="-1">Choose here</option>
    </select>
    <label class="error" th:errors="*{model}">Vehicle model error placeholder</label>
  </div>

  <div class="form-label-group">
    <label for="inputFromDate" th:text="#{user.label.fromDate}">From date</label>
    <input type="date" th:field="*{fromDate}" id="inputFromDate" class="form-control"
           placeholder="From date">
    <label class="error" th:errors="*{fromDate}">From date error placeholder</label>
  </div>

  <div class="form-label-group">
    <label for="inputToDate" th:text="#{user.label.toDate}">To date</label>
    <input type="date" th:field="*{toDate}" id="inputToDate" class="form-control"
           placeholder="To date">
    <label class="error" th:errors="*{toDate}">To date error placeholder</label>
  </div>

  <div class="form-label-group">
    <label for="dropdownSortBy" th:text="#{user.label.orderby}">Order by Name or Date</label>
    <select type="text" th:field="*{orderBy}" id="dropdownSortBy" class="form-control" autofocus>
      <option value="" selected="selected" hidden="hidden" th:value="-1">Choose here</option>
      <option value="name" th:value="name">Name</option>
      <option value="date" th:value="date">Date</option>
    </select>
    <label class="error" th:errors="*{orderBy}">Order by Name or Date error placeholder</label>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6 col-xl-6 mx-auto card-signin flex-row my-6">
      <button class="btn btn-primary_ btn-block text-uppercase"
              type="button"
              onclick="clearFields(); return true;">Reset
      </button>
    </div>

    <div class="col-lg-6 col-xl-6 mx-auto card-signin flex-row my-6">
      <button class="btn btn-primary_ btn-block text-uppercase" type="Submit">Search
      </button>
    </div>
  </div>
</form>
<!-- Search form users END -->

<!-- START Table users-->
<div id="userTableData" name="userTableData" th:fragment="user-table-data">
  <table class="table table-bordered table-striped">
    <tr style="text-align: center">
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Update</th>
      <th>Delete</th>
      <th>Add vehicle</th>
    </tr>

    <div th:each="user : ${users}">
      <tr>
        <td th:text="${user.getId()}">User ID</td>
        <td th:text="${user.getFirstName()}">User First name</td>
        <td th:text="${user.getLastName()}">User Last name</td>
        <td th:text="${user.getEmail()}">User Email</td>
        <td th:text="${user.getPhone()}">User Phone</td>
        <td>
          <a th:href="@{'/users/' + ${user.getId()} + '/update'}">
<!--              <span class="glyphicon glyphicon-envelope"></span>-->
            Update</a>
        </td>
        <td>
          <a href="#"
             th:href="@{'/users/' + ${user.getId()} + '/delete'}"
             onclick="return confirmSubmit();">Delete</a>
        </td>
        <td>
          <a th:href="@{'/vehicles/create/' + ${user.getId()}}">
            Add vehicle</a>
        </td>
      </tr>
    </div>
    <div>
      <tr>
        <td colspan="2"></td>
        <td colspan="4">
          <a class="btn btn-lg btn-primary_ btn-block text-uppercase" href="#"
             th:href="@{'/users/create'}">
            Create new
          </a>
        </td>
        <td colspan="2"></td>
      </tr>
    </div>
  </table>
</div>
<!-- Table users END -->

</body>
</html>