<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vehicle</title>
</head>
<body>

<!-- START Search form vehicles-->
<form id="vehicleSearchForm" name="vehicleSearchForm" th:fragment="vehicle-form-search"
      class="form-signin" action="#"
      th:action="@{'/vehicles/search'}"
      th:object="${vehicleSearchParameters}"
      method="post">

    <div class="form-label-group">
        <label for="dropdowncustomerName" th:text="#{label.customer}">Customer name</label>
        <select type="text" th:field="*{customerId}" id="dropdowncustomerName" name="dropdowncustomerName"
                class="form-control"
                autofocus th:if="${users != null}">
            <option value="" selected="selected" hidden="hidden" th:value="-1">Choose here</option>
            <option th:each="user : ${users}"
                    th:value="${user.getId()}"
                    th:text="${user.getFirstName() + ' ' + user.getLastName()}">
            </option>
        </select>
        <label class="error" th:errors="*{customerId}">Customer name error placeholder</label>
    </div>
    <br>
    <div class="form-label-group">
        <label for="inputRegistrationNumber" th:text="#{vehicle.label.registrationNumber}">Registration Number</label>
        <input type="text" th:field="*{registrationNumber}" id="inputRegistrationNumber" class="form-control"
               placeholder="Registration Number" autofocus>
        <label class="error" th:errors="*{registrationNumber}">Registration Number placeholder</label>
    </div>
    <br>
    <div class="form-label-group">
        <label for="dropdownVehiclesButton" th:text="#{vehicle.label.manufacturer}">Vehicles</label>
        <select type="text" th:field="*{manufacturerId}" id="dropdownVehiclesButton" name="dropdownVehiclesButton"
                class="form-control"
                autofocus th:if="${carlist != null}">
            <option value="" selected="selected" hidden="hidden" th:value="-1">Choose here</option>
            <option value="" th:value="0"></option>
            <option th:each="car : ${carlist}"
                    th:value="${car.getId()}"
                    th:text="${car.getName()}">
            </option>
        </select>
        <label class="error" th:errors="*{manufacturerId}">Vehicles error placeholder</label>
    </div>
    <br>
    <div class="form-label-group">
        <label for="dropdownModelButton" th:text="#{user.label.vehiclemodel}">Vehicle model</label>
        <select type="text" th:field="*{modelId}" id="dropdownModelButton" name="dropdownModelButton"
                class="form-control" autofocus>
            <option value="" selected="selected" hidden="hidden" th:value="-1">Choose here</option>
        </select>
        <label class="error" th:errors="*{modelId}">Vehicle model error placeholder</label>
    </div>

    <br>
    <div class="row">
        <div class="col-lg-6 col-xl-6 mx-auto card-signin flex-row my-6">
            <button class="btn btn-primary_ btn-block text-uppercase"
                    type="button"
                    onclick="clearFields(); return true;">Reset
            </button>
        </div>

        <div class="col-lg-6 col-xl-6 mx-auto card-signin flex-row my-6">
            <button class="btn btn-primary_ btn-block text-uppercase" type="Submit">Search
            </button>
        </div>
    </div>
</form>
<!-- Search form vehicles END -->

<!-- START Table vehicles-->
<div id="vehicleTableData" name="vehicleTableData" th:fragment="vehicle-table-data">
    <table class="table table-bordered table-striped">
        <tr style="text-align: center">
            <th>ID</th>
            <th>Registration plate</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Category</th>
            <th>Engine type</th>
            <th>Identification number</th>
            <th>Customer name</th>
            <th>Create maintenance</th>
            <th>Delete</th>
        </tr>

        <div th:each="vehicle : ${vehicles}">
            <tr>
                <td th:text="${vehicle.getId()}">Vehicle ID</td>
                <td th:text="${vehicle.getRegistrationPlate()}">Registration Plate</td>
                <td th:text="${vehicle.getModel().getManufacturer().getName()}">Manufacturer</td>
                <td th:text="${vehicle.getModel().getName()}">Model</td>
                <td th:text="${vehicle.getCategory().getName()}">Category</td>
                <td th:text="${vehicle.getEngineType.getName()}">Engine Type</td>
                <td th:text="${vehicle.getIdentificationNumber()}">Identification Number</td>
                <td th:text="${vehicle.getCustomer.getFirstName() + ' ' + vehicle.getCustomer.getLastName()}">Customer
                    name
                </td>
                <td>
                    <a th:href="@{'/maintenances/create/' + ${vehicle.getId()}}">
                        <!--              <span class="glyphicon glyphicon-envelope"></span>-->
                        Create
                    </a>
                </td>
                <td>
                    <a href="#"
                       th:href="@{'/vehicles/' + ${vehicle.getId()} + '/delete'}"
                       onclick="return confirmSubmit();">
                        Delete
                    </a>
                </td>
            </tr>
        </div>
        <div>
            <tr>
                <td colspan="2"></td>
                <td colspan="6">
                    <a class="btn btn-lg btn-primary_ btn-block text-uppercase" href="#"
                       th:href="@{'/vehicles/create'}">
                        Create new
                    </a>
                </td>
                <td colspan="2"></td>
            </tr>
        </div>
    </table>
</div>
<!-- Table vehicles END -->
</body>
</html>