<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Access Denied</title>
    <th:block th:include="fragments/navmenu.html :: navmenuHeadLinks"></th:block>
</head>
<body>
<div th:insert="fragments/navmenu.html"></div>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
</ul>
<h2 th:text="#{error.access-denied}">Access Denied</h2>
<h3 class="error" th:text="${error}">Error placeholder</h3>
<div class="align-items-center"></div>
<h1 th:text="#{error.not-found}"></h1>
<h2>
    <blockquote class="lg-center">
        <p>You've traveled far and you've traveled wide<br>
            Searching around, you've desperately tried<br>
            To find what you seek, no matter the cost<br>
            I'm sorry to say — it looks like you're lost</p>
    </blockquote>
</h2>
</div>
</body>
</html>