<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
    <th:block th:include="fragments/navmenu.html :: navmenuHeadLinks"></th:block>
</head>
<body id="page-top">
<div th:include="fragments/navmenu.html :: navbar"></div>

<!-- Navigation-->
<div th:replace="fragments/navmenu.html :: navmenu"></div>

<section class="page-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Change Password</h5>

                        <form action="#" class="form-signin" method="post"
                              th:action="@{/users/password/update}"
                              th:object="${changePassword}">
                            <div class="form-label-group" th:if="${currentUser == null}">
                                <label for="inputEmail" th:text="#{user.label.email}">Email address</label>
                                <input type="email" th:field="*{email}" id="inputEmail" class="form-control"
                                       placeholder="Email address" required>
                                <label class="error" th:errors="*{email}">Email error placeholder</label>
                            </div>
                            <div class="form-label-group" th:if="${currentUser != null}">
                                <input type="hidden" th:value="*{email}"  th:field="*{email}" class="form-control">
                            </div>
                            <br>
                            <div class="form-label-group">
                                <label for="inputPassword" th:text="#{user.label.password}">Password</label>
                                <input type="password" th:field="*{password}" id="inputPassword"
                                       class="form-control"
                                       placeholder="Password" required>
                                <label class="error" th:errors="*{password}">Password error placeholder</label>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <label for="confirmPassword" th:text="#{user.label.confirmPassword}">Confirm Password</label>
                                <input type="password" th:field="*{confirmPassword}" id="confirmPassword"
                                       class="form-control"
                                       placeholder="Password" required>
                                <label class="error" th:errors="*{confirmPassword}">Password error placeholder</label>
                            </div>
                            <br>
                            <button class="btn btn-lg btn-primary_ btn-block text-uppercase" type="submit">Submit
                            </button>
                            <br>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap core JS-->
<div th:replace="fragments/navmenu.html :: footer"></div>
</body>
</html>






