<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error page</title>
    <th:block th:include="fragments/navmenu.html :: navmenuHeadLinks"></th:block>
</head>
<body id="page-top" th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
<div th:include="fragments/navmenu.html :: navbar"></div>

<!-- Navigation-->
<div th:replace="fragments/navmenu.html :: navmenu"></div>
<div class="row align-items-start" style="margin-top: 120px" flex>
    <div>
    <img class="mx-auto my-5ml-4" src="../static/assets/img/err_2.png" th:src="@{/assets/img/err_2.png}"
         alt="">
    </div>
    <div class="mx-auto my-5">
        <br>
        <br>
<!--        <h3 class="align-items-center" th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">Error</h3>-->
        <h3 class="align-items-center" th:text="|${httpStatus}|">Error</h3>
        <h4 class="align-items-center"><label class="error" th:text="${errorMessage}">Error placeholder</label></h4>
        <p th:utext="${error}">Error java.lang.NullPointerException</p>
    </div>
</div>
<!-- Bootstrap core JS-->
<div th:replace="fragments/navmenu.html :: footer"></div>
</body>
</html>