<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/navmenu.html :: navmenuHeadLinks"></th:block>
</head>
<body id="page-top">
<div th:include="fragments/navmenu.html :: navbar"></div>

<!-- Navigation-->
<div th:replace="fragments/navmenu.html :: navmenu"></div>

<!-- Masthead-->
<header class="masthead">
    <div class="container">

        <div class="masthead-subheading text-right" style="margin-top: 150px;margin-bottom: 35px;">
            Welcome to Smart Garage!
        </div>
        <a class="btn btn-primary_ btn-xl text-uppercase js-scroll-trigger a" style="margin-top: 75px;"
           href="#" th:if="${currentUser == null}" th:href="@{/login}">Login</a>
    </div>
</header>

<!-- Portfolio -->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/01-car_electric_system.png" alt=""/>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Electric System</div>
                        <div class="portfolio-caption-subheading text-muted">Prevention, installation and repair</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/02-engine.png" alt=""/>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Engine</div>
                        <div class="portfolio-caption-subheading text-muted">Diagnosis, prevention and repair</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/03-braking-system.png" alt=""/>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Braking System</div>
                        <div class="portfolio-caption-subheading text-muted">Diagnosis, repair and prevention</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/04-hodova-chast.png" alt=""/>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Suspension</div>
                        <div class="portfolio-caption-subheading text-muted">Repair, recycling and prevention</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/05-transmision.png" alt=""/>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Transmission</div>
                        <div class="portfolio-caption-subheading text-muted">Diagnosis, repairs, replacement and
                            maintenance
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/06-car_body.png" alt=""/>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Car Body</div>
                        <div class="portfolio-caption-subheading text-muted">Installation and repair</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Team -->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <div class="row">
            <div class="col-lg-6 ">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/Krasimira_Mihaylova.jpg" alt="Krasimira Mihaylova"/>
                    <h4>Krasimira Mihaylova</h4>
                    <p class="text-muted">Developer</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/tanya_radeva_team_2.jpg" alt=""/>
                    <h4>Tanya Radeva</h4>
                    <p class="text-muted">Developer</p>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
        </div>
        <form id="contactForm" name="contactForm"
              action="/cfmessage/mess"
              method="post">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" id="name" type="text" placeholder="Your Name *"
                               required="required" data-validation-required-message="Please enter your name."/>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="email" type="email" placeholder="Your Email *"
                               required="required"
                               data-validation-required-message="Please enter your email address."/>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group mb-md-0">
                        <input class="form-control" id="phone" type="tel" placeholder="Your Phone *"
                               required="required"
                               data-validation-required-message="Please enter your phone number."/>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                                <textarea class="form-control" id="message" placeholder="Your Message *"
                                          required="required"
                                          data-validation-required-message="Please enter a message."></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div id="success"></div>
                <button class="btn btn-primary_ btn-xl text-uppercase" id="sendMessageButton" type="submit">Send
                    Message
                </button>
            </div>
        </form>
    </div>
</section>
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-left">Copyright © Your Website 2020</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-right">
                <a class="mr-3" href="#!">Privacy Policy</a>
                <a href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>

<!-- Portfolio Modals-->
<!-- Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg"
                                                               alt="Close modal"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase">Electric System</h2>
                            <p class="item-intro text-muted">Prevention, installation and repair</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/01-voltage-full.png"
                                 alt=""/>
                            <p> Troubleshooting ignition problems<br>
                                Removal of factory immobilizer<br>
                                Repair of the electrical part of air conditioners and climatronics<br>
                                Repair of air conditioning compressors<br>
                                Repair of lights /headlights, dimensions, turn signals, brake lights/<br>
                                Reading and deleting accumulated errors<br>
                                Resetting service intervals<br>
                                Activation of certain actuators<br>
                                Change of parameters in the on-board computers<br>
                                Access to all electronic control systems<br>
                                Real-time scanning of engineering parameters<br>
                                Adaptation and coding of electronic components</p>
                            <button class="btn btn-primary_" data-dismiss="modal" type="button">
                                <i class="fas fa-times mr-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg"
                                                               alt="Close modal"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase">Engine</h2>
                            <p class="item-intro text-muted">Engine maintenance and repair</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/02-engine-full.png"
                                 alt=""/>
                            <p> Diagnostics of gasoline and diesel engines<br>
                                Prevention of gasoline and diesel engines <br>
                                Replacement of belts/timing belt and alternator belt/and chains<br>
                                Prevention of the fuel and ignition system<br>
                                Repair of starters and alternators<br>
                                Replacement of fuel and air ducts<br>
                                Repair, adjustment and cleaning of suction systems.
                                Replacement of turbochargers<br>
                                Cleaning, repair and replacement of fuel system components<br>
                                Change of oils and filters according to the manufacturer's instructions<br>
                                Replacement of engines and electrical installations, tuning<br>
                                Removal of immobilizers<br>
                                Chiptuning<br>
                                Replacement of gaskets, oil seals, major repairs<br>
                                Checking and replacing the fluid, detecting and repairing leaks<br>
                                Replacement of radiators for heating and cooling<br>
                                Modification of cooling system</p>
                            <button class="btn btn-primary_" data-dismiss="modal" type="button">
                                <i class="fas fa-times mr-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg"
                                                               alt="Close modal"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase">Braking System</h2>
                            <p class="item-intro text-muted">Diagnosis, repair and prevention</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/03-brake-disk-full.png"
                                 alt=""/>
                            <p> Checking and replacing brake fluid<br>
                                Checking and measuring the brake pads<br>
                                Replacement of discs and pads<br>
                                Inspection of brake discs for improper wear or other changes in their structural
                                condition<br>
                                Checking brake hoses<br>
                                Revision of the condition of the pistons in the brake calipers and cylinders<br>
                                Bleeding the brake system</p>
                            <button class="btn btn-primary_" data-dismiss="modal" type="button">
                                <i class="fas fa-times mr-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 4-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg"
                                                               alt="Close modal"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase">Suspension</h2>
                            <p class="item-intro text-muted">Repair, recycling and prevention</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/04-shock-absorber-full.png"
                                 alt=""/>
                            <p> Carrier recycling<br>
                                Repair of hydraulic suspension<br>
                                Replacement of brackets, hinges, tie rods<br>
                                Changing carriages and handles<br>
                                Complete suspension service<br>
                                Complete diagnostics of the chassis of the car<br>
                                Inspection and replacement of bearings, hinges, etc<br>
                                Inspection and replacement of carriers<br>
                                Inspection and replacement of steering tips<br>
                                Inspection and replacement of shock absorbers<br>
                                Inspection and replacement of springs<br>
                                Check and replace all mounting bolts<br>
                                Check, adjust the wheels of the car<br>
                            </p>
                            <button class="btn btn-primary_" data-dismiss="modal" type="button">
                                <i class="fas fa-times mr-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 5-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg"
                                                               alt="Close modal"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase">Transmission</h2>
                            <p class="item-intro text-muted">Diagnosis, repairs, replacement and maintenance</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/05-transmission-full.png"
                                 alt=""/>
                            <p> Oil change on manual and automatic transmission<br>
                                Automatic transmission filter replacement<br>
                                Replacement of manual and automatic transmission clutch<br>
                                Flywheel replacement manual and automatic transmission<br>
                                Replacement of the manual and automatic transmission gasket<br>
                                Replacement of oil plug on manual and automatic transmission<br>
                                Manual and automatic transmission diagnostics<br>
                                Diagnosing mechanical problems with manual and automatic transmissions<br>
                                Manual and automatic transmission repair<br>
                                Replacement or repair of cardan shaft, distributions, differential<br>
                                Oil change in handouts and differential<br>
                                Replacement of sealing elements</p>
                            <button class="btn btn-primary_" data-dismiss="modal" type="button">
                                <i class="fas fa-times mr-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 6-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg"
                                                               alt="Close modal"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase">Car Body</h2>
                            <p class="item-intro text-muted">Installation and repair</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/06-glass-full.png"
                                 alt=""/>
                            <p> Repair of electrical mechanisms<br>
                                Repair and replacement of locks<br>
                                Replacement of body parts<br>
                                Replacement and repair of cleaning mechanisms<br>
                                Replacement of headlights, taillights, turn signals and ceilings<br>
                                Replacement of car windows<br>
                                Repair of heating reotani<br>
                                Repair of manual and mechanical windows</p>
                            <ul class="list-inline">
                                <button class="btn btn-primary_" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close
                                </button>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JS-->
<div th:replace="fragments/navmenu.html :: footer"></div>
</body>
</html>
