<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <th:block th:include="fragments/navmenu.html :: navmenuHeadLinks"></th:block>
</head>
<body id="page-top">
<div th:include="fragments/navmenu.html :: navbar"></div>

<!-- Navigation-->
<div th:replace="fragments/navmenu.html :: navmenu"></div>

<section class="page-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign In</h5>

                        <form class="form-signin" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                              th:object="${login}"
                              method="post">
                            <div class="form-label-group">
                                <label for="inputEmail" th:text="#{user.label.email}">Email address</label>
                                <input type="email" th:field="*{email}" id="inputEmail" class="form-control"
                                       placeholder="Email address" required>
                                <label class="error" th:errors="*{email}">Email error placeholder</label>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <label for="inputPassword" th:text="#{user.label.password}">Password</label>
                                <input type="password" th:field="*{password}" id="inputPassword"
                                       class="form-control"
                                       placeholder="Password" required>
                                <label class="error" th:errors="*{password}">Password error placeholder</label>
                            </div>
                            <br>
                            <button class="btn btn-lg btn-primary_ btn-block text-uppercase" type="submit">Sign in
                            </button>
                            <br>
                        </form>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#example-modal-modal">Forgot password?</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal form  for Reset Password-->
<div class="modal fade" id="example-modal-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Reset password
            </div>

            <div class="modal-body">
                <div class="form-label-group">
                    <form class="form-signin" action="#" th:action="@{/users/password/reset}"
                          th:object="${login}"
                          method="post">
                        <div class="form-label-group">
                            <label for="email" th:text="#{user.label.resetPassword}">Email address</label>
                            <input class="form-control" th:field="*{email}" id="email" placeholder="Email address" required
                                    type="email">
                        </div>
                        <br>
                        <button class="btn btn-lg btn-primary_ btn-block text-uppercase" type="submit">Submit
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Bootstrap core JS-->
<div th:replace="fragments/navmenu.html :: footer"></div>
</body>
</html>








