<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Maintenance form</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../templates/css/main.css" th:href="@{/css/main.css}"/>
    <th:block th:include="fragments/navmenu.html :: navmenuHeadLinks"></th:block>
</head>
<body id="page-top">
<div th:include="fragments/navmenu.html :: navbar"></div>

<!-- Navigation-->
<div th:replace="fragments/navmenu.html :: navmenu"></div>

<H1>Maintenance Form!</H1>
<div class="container">
    <div class="row" style="margin-top: 120px">
        <div class="col-lg-10 col-xl-8 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">

                    <form class="form-signin" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                          th:object="${maintenanceDto}"
                          method="post">
                        <h5 class="card-title text-center">Maintenance</h5>
                        <input type="hidden" th:value="${maintenanceDto.getVehicleId()}"
                               th:field="*{vehicleId}"
                               id="vehicleId"
                               placeholder="Vehicle">

                        <div class="form-label-group">
                            <label for="inputFromDate" th:text="#{maintenance.label.from-date}">From date</label>
                            <input type="date" th:value="${maintenanceDto.getFromDate()}"
                                   th:readonly="${maintenanceDto.getFromDate()!= null}"
                                   th:field="*{fromDate}"
                                   id="inputFromDate" class="form-control"
                                   placeholder="From date">
                            <label class="error" th:errors="*{fromDate}">From date error
                                placeholder</label>
                        </div>
                        <br>
                        <div class="form-label-group">
                            <label for="inputToDate" th:text="#{maintenance.label.to-date}">To
                                date</label>
                            <input type="date" th:value="${maintenanceDto.getToDate()}"
                                   th:field="*{toDate}" id="inputToDate" class="form-control"
                                   placeholder="To date">
                            <label class="error" th:errors="*{toDate}">To date error placeholder</label>
                        </div>
                        <!-- <div class="col-lg-4 col-xl-7 mx-auto my-4">-->
                        <div class="form-label-group">
                            <label th:text="#{maintenance.label.services}">Services</label>
                            <table class="table table-bordered table-striped">
                                <tr style="text-align: center">
                                    <th>Service</th>
                                    <th>Hours</th>
                                    <th colspan="2">&nbsp;</th>
                                </tr>
                                <div th:each="serviceItem : ${maintenanceDto.getServicesItems()}">
                                    <tr>
                                        <td th:text="${serviceItem.getService().getName()}">
                                            Service name
                                        </td>
                                        <td th:text="${serviceItem.getHours()}">Hours</td>
                                        <td>
                                            <a
                                                    th:href="@{'/maintenances/' + ${maintenance.getId()} + '/serviceItem/'+${serviceItem.getId()}}">Update</a>
                                        </td>
                                        <td>
                                            <a
                                                    th:href="@{'/maintenances/' + ${maintenance.getId()} + '/delete/'+${serviceItem.getId()}}">Delete</a>
                                        </td>
                                    </tr>
                                </div>
                                <div>
                                    <tr th:if="${!currentUser.isCustomer()}">
                                        <td colspan="6">
                                            <a class="btn btn-lg btn-primary_ btn-block text-uppercase" href="#"
                                               th:href="@{'/maintenances/' + ${maintenance.getId()} + '/serviceItem'}">
                                                Create new
                                            </a>
                                        </td>
                                    </tr>
                                </div>
                            </table>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-6 col-xl-6 mx-auto flex-row my-6">
                                <button class="btn btn-lg btn-primary_ btn-block text-uppercase" type="Reset">Reset
                                </button>
                            </div>
                            <div class="col-lg-6 col-xl-6 mx-auto flex-row my-6">
                                <button class="btn btn-lg btn-primary_ btn-block text-uppercase" type="Submit">Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JS-->
<div th:replace="fragments/navmenu.html :: footer"></div>
</body>
</html>
