<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Maintenance Service</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    <th:block th:include="fragments/navmenu.html :: navmenuHeadLinks"></th:block>
</head>
<body id="page-top">
<div th:include="fragments/navmenu.html :: navbar"></div>

<!-- Navigation-->
<div th:replace="fragments/navmenu.html :: navmenu"></div>

<H1>Maintenance Service</H1>
<section class=" page-section text-center" id="maintenanceItems">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body">
                        <form class="form-signin" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                              th:object="${serviceItemDto}"
                              method="post">
                            <h5 class="card-title text-center">Maintenance</h5>
                            <input type="hidden" th:value="${serviceItemDto.getMaintenanceId()}"
                                   th:field="*{maintenanceId}"
                                   id="maintenanceId"
                                   placeholder="maintenanceId">
                            <div class="form-label-group">
                                <label for="dropdownServicesButton"
                                       th:text="#{maintenance.label.services}">Services</label>
                                <select type="text" th:field="*{serviceId}" id="dropdownServicesButton"
                                        th:readonly="${serviceItemId!=null}"
                                        class="form-control" autofocus>
                                    <option selected value="-1">Choose here</option>
                                    <option th:each="service : ${services}"
                                            th:value="${service.getId()}"
                                            th:text="${service.getName()}">Service Name
                                    </option>
                                </select>
                                <label class="error" th:errors="*{serviceId}">Service error placeholder</label>
                            </div>

                            <div class="form-label-group">
                                <label for="inputHours" th:text="#{label.hours}">Hours</label>
                                <input type="number" min=0 th:value="${serviceItemDto.getHours()}"
                                       th:field="*{hours}"
                                       id="inputHours" class="form-control"
                                       placeholder="Work hours">
                                <label class="error" th:errors="*{hours}">Hours error
                                    placeholder</label>
                            </div>
                            <br>
                            <div class="col-lg-6 col-xl-6 mx-auto flex-row my-6">
                                <button class="btn btn-lg btn-primary_ btn-block text-uppercase" type="Submit">Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>