<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Visits</title>
    <th:block th:include="fragments/navmenu.html :: navmenuHeadLinks"></th:block>
    <script LANGUAGE="JavaScript">
        function toggle(id) {
            if (document.getElementById(id).style.display == 'none') {
                document.getElementById(id).style.display = '';
            } else {
                document.getElementById(id).style.display = 'none';
            }
        }

        function clearFields() {
            document.getElementById("dropdownStatusButton").value = "";
            // document.getElementById("dropdownCustomerButton").value = "";
            document.getElementById("dropdownVehicleButton").value = "";
            document.getElementById("inputFromDate").value = "";
            document.getElementById("inputToDate").value = "";
        }
    </script>
</head>
<body id="page-top">
<div th:include="fragments/navmenu.html :: navbar"></div>

<!-- Navigation-->
<div th:replace="fragments/navmenu.html :: navmenu"></div>

<!-- REGISTRATION START -->
<div class="row" style="margin-top: 120px">
    <div class="ml-5 mr-2 col-lg-4 col-xl-3 my-4">
        <div class="card flex-row ">
            <div class="card-img-left d-none d-md-flex">
                <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">Search</h5>

                <form th:fragment="search-form" class="form-search" action="#"
                      th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${maintenanceSearchDto}"
                      method="post">
                    <div class="form-label-group">
                        <label for="dropdownVehicleButton" th:text="#{label.vehicle}">Vehicle</label>
                        <select type="Integer" th:field="*{vehicleId}" id="dropdownVehicleButton"
                                class="form-control"
                                placeholder="Vehicle" autofocus>-->
                            <option selected value="-1">Choose here</option>
                            <option th:each="vehicle : ${vehicles}"
                                    th:value="${vehicle.getId()}"
                                    th:text="${vehicle.getRegistrationPlate()}">Vehicle Plate
                            </option>
                        </select>
                        <label class="error" th:errors="*{vehicleId}">Vehicle error placeholder</label>
                    </div>
                    <br>
                    <div class="form-label-group">
                        <label for="inputFromDate" th:text="#{maintenance.label.from-date}">From
                            date</label>
                        <input type="date" th:field="*{fromDate}" id="inputFromDate" class="form-control"
                               placeholder="From date">
                        <label class="error" th:errors="*{fromDate}">From date error
                            placeholder</label>
                    </div>
                    <br>
                    <div class="form-label-group">
                        <label for="inputToDate" th:text="#{maintenance.label.to-date}"> To
                            date</label>
                        <input type="date" th:field="*{toDate}" id="inputToDate" class="form-control"
                               placeholder="To date">
                        <label class="error" th:errors="*{toDate}">To date error
                            placeholder</label>
                    </div>
                    <br>
                    <div class="form-label-group">
                        <label for="dropdownStatusButton" th:text="#{label.status}">Status</label>
                        <select type="Integer" th:field="*{statusId}" id="dropdownStatusButton" class="form-control"
                                placeholder="Maintenance Status" autofocus>
                            <option selected value="-1">Choose here</option>
                            <option th:each="status : ${statuses}"
                                    th:value="${status.getId}"
                                    th:text="${status.getName()}">Status
                            </option>
                        </select>
                        <label class="error" th:errors="*{statusId}">Status error placeholder</label>
                    </div>
                    <br>
                    <div class="form-label-group">
                        <label for="orderByDate" th:text="#{order.date}">Order by Date</label>
                        <select type="text" th:field="*{orderByDate}" id="orderByDate" class="form-control"
                                autofocus>
                            <option value="" selected="selected" th:value="asc">Ascending</option>
                            <option value="" th:value="desc">Descending</option>
                        </select>
                        <label class="error" th:errors="*{orderByDate}">OrderBy error placeholder</label>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6 col-xl-6 mx-auto flex-row my-6">

                            <button class="btn btn-primary_ btn-block text-uppercase"
                                    type="button"
                                    onclick="clearFields(); return true;">Reset
                            </button>
                        </div>
                        <div class="col-lg-6 col-xl-6 mx-auto flex-row my-6">
                            <button class="btn btn-primary_ btn-block text-uppercase" type="Submit">Search
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-xl-4 mx-auto flex-row my-4">

                            <select type="text" th:field="*{currencyAbbr}" id="dropdownCurrencyButton"
                                    class="form-control"
                                    placeholder="Currency" autofocus>
                                <option th:each="currency : ${currencies}"
                                        th:value="${currency.getAbbreviation()}"
                                        th:text="${currency.getAbbreviation()}">Currency
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-xl-4 mx-auto flex-row my-4">
                            <button class="btn btn-primary_ btn-block text-uppercase" href="#"
                                    th:href="@{'/maintenances/generate'}" th:formaction="'/maintenances/generate'"
                                    th:object="${maintenanceSearchDto}" th:method="post" type="Submit">
                                PDF
                            </button>
                        </div>
                        <div class="col-lg-4 col-xl-4 mx-auto flex-row my-4">
                            <button class="btn btn-primary_ btn-block text-uppercase" href="#"
                                    th:formaction="'/maintenances/email'"
                                    th:method="post" type="Submit">
                                e-Mail
                            </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="mr-5 col-lg-4 col-xl-7 mx-auto my-4">

        <table class="table table-bordered table-striped">
            <tr style="text-align: center">
                <th>Customer</th>
                <th>Vehicle</th>
                <th>From date</th>
                <th>To date</th>
                <th>Services in maintenance</th>
                <th th:if="${!currentUser.isCustomer()}" colspan="2">&nbsp;</th>
            </tr>
            <div th:each="maintenance : ${maintenances}">
                <tr>
                    <td th:text="${maintenance.getVehicle().getCustomer().getFirstName()} + ' '+ ${maintenance.getVehicle().getCustomer().getLastName()}">
                        Customer name
                    </td>
                    <td th:text="${maintenance.getVehicle().getRegistrationPlate()}">Car plate</td>
                    <td th:text="${maintenance.getFromDate()}">From date</td>
                    <td th:text="${maintenance.getToDate()}">To date</td>
                    <td th:if="${maintenance.getMaintenanceServices().isEmpty()}">No services</td>

                    <td th:unless="${maintenance.getMaintenanceServices().isEmpty()}">
                        <a th:text="${maintenance.getMaintenanceServices().size()}" href="#"
                           th:onClick="|toggle(${maintenance.getId()})|">Services</a>
                    </td>

                    <td th:if="${!currentUser.isCustomer() && maintenance.getToDate()!= null}">Update</td>
                    <td th:unless="${currentUser.isCustomer() || maintenance.getToDate()!= null}"><a
                            th:href="@{'/maintenances/' + ${maintenance.getId()} + '/update'}">Update</a></td>
                </tr>
                <tr th:id="${maintenance.getId()}" style="display:none;">
                    <td colspan=7>
                        <div th:each="serviceItem : ${maintenance.getMaintenanceServices()}">
                            [[${serviceItem.getId()} + ' / '
                            + ${serviceItem.getService().getName()} + ' / '
                            + ${serviceItem.getService().getPricePerHour} + ' BGN / '
                            + ${serviceItem.getHours()} + ' hours ']] <br/>
                        </div>
                    </td>
                </tr>
            </div>
        </table>
    </div>
</div>

<!-- Bootstrap core JS-->
<div th:replace="fragments/navmenu.html :: footer"></div>
</body>
</html>