<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vehicle</title>
    <th:block th:include="fragments/navmenu.html :: navmenuHeadLinks"></th:block>
</head>
<body id="page-top">
<div th:include="fragments/navmenu.html :: navbar"></div>

<!-- Navigation-->
<div th:replace="fragments/navmenu.html :: navmenu"></div>

<div class="container">
    <div class="row" style="margin-top: 120px">
        <div class="col-lg-10 col-xl-8 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>

                <div class="card-body">
                    <h5 class="card-title text-center">Vehicle</h5>
                    <form id="vehicleAddForm" name="vehicleAddForm" class="form-signin" action="#"
                          th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${vehicle}"
                          method="post">

                        <div class="form-label-group">
                            <label for="dropdowncustomerName" th:text="#{label.customer}">Customer name</label>
                            <select type="text" th:field="*{customerId}" id="dropdowncustomerName"
                                    name="dropdowncustomerName"
                                    class="form-control"
                                    autofocus th:if="${users != null}">
                            <span th:if="${oneuser == null}">
                            <option value="" selected="selected" hidden="hidden" th:value="-1">Choose here</option>
                            <option th:each="user : ${users}"
                                    th:value="${user.getId()}"
                                    th:text="${user.getFirstName() + ' ' + user.getLastName()}">
                            </option>
                            </span>
                                <span th:if="${oneuser != null}">
                            <option th:each="user : ${users}" selected="selected"
                                    th:value="${user.getId()}"
                                    th:text="${user.getFirstName() + ' ' + user.getLastName()}">
                            </option>
                            </span>
                            </select>
                            <label class="error" th:errors="*{customerId}">Customer name error placeholder</label>
                        </div>
                        <br>
                        <div class="form-label-group">
                            <label for="inputRegistrationPlate" th:text="#{vehicle.label.registrationNumber}">Registration
                                number</label>
                            <input type="text" th:field="*{registrationPlate}" id="inputRegistrationPlate"
                                   class="form-control"
                                   placeholder="Registration number" required autofocus>
                            <label class="error" th:errors="*{registrationPlate}">Registration number error
                                placeholder</label>
                        </div>
                        <br>
                        <div class="form-label-group">
                            <label for="inputIdentificationNumber" th:text="#{vehicle.label.identificationNumber}">Identification
                                number</label>
                            <input type="text" th:field="*{identificationNumber}" id="inputIdentificationNumber"
                                   class="form-control"
                                   placeholder="Identification number" required>
                            <label class="error" th:errors="*{identificationNumber}">Identification number error
                                placeholder</label>
                        </div>
                        <br>
                        <div class="form-label-group">
                            <label for="dropdownVehiclesButton" th:text="#{vehicle.label.manufacturer}">Vehicles</label>
                            <select type="text" th:field="*{manufacturerId}" id="dropdownVehiclesButton"
                                    name="dropdownVehiclesButton"
                                    class="form-control"
                                    autofocus th:if="${carlist != null}">
                                <option value="" selected="selected" hidden="hidden" th:value="-1">Choose here</option>
                                <option value="" th:value="0"></option>
                                <option th:each="car : ${carlist}"
                                        th:value="${car.getId()}"
                                        th:text="${car.getName()}">
                                </option>
                            </select>
                            <input type="text" th:field="*{manufacturerName}" id="manufacturerName" class="form-control"
                                   placeholder="New Manufacturer name">
                            <label class="error" th:errors="*{manufacturerId}">Vehicles error placeholder</label>
                        </div>
                        <br>
                        <div class="form-label-group">
                            <label for="dropdownModelButton" th:text="#{vehicle.label.model}">Vehicle model</label>
                            <select type="text" th:field="*{modelId}" id="dropdownModelButton"
                                    name="dropdownModelButton"
                                    class="form-control" autofocus>
                                <option value="" selected="selected" hidden="hidden" th:value="-1">Choose here</option>
                            </select>
                            <input type="text" th:field="*{modelName}" id="modelName" class="form-control"
                                   placeholder="New Model">
                            <label class="error" th:errors="*{modelId}">Vehicle model error placeholder</label>
                        </div>
                        <br>
                        <div class="form-label-group">
                            <label for="dropdownEngineButton" th:text="#{vehicle.label.engine}">Engine type</label>
                            <select type="text" th:field="*{engineTypeId}" id="dropdownEngineButton"
                                    name="dropdownEngineButton"
                                    class="form-control"
                                    autofocus th:if="${engines != null}">
                                <option value="" selected="selected" hidden="hidden" th:value="-1">Choose here</option>
                                <option th:each="engine : ${engines}"
                                        th:value="${engine.getId()}"
                                        th:text="${engine.getName()}">
                                </option>
                            </select>
                            <label class="error" th:errors="*{engineTypeId}">Engine type error placeholder</label>
                        </div>
                        <br>
                        <div class="form-label-group">
                            <label for="dropdownCategoryButton" th:text="#{vehicle.label.category}">Category</label>
                            <select type="text" th:field="*{vehicleCategoryId}" id="dropdownCategoryButton"
                                    name="dropdownCategoryButton"
                                    class="form-control"
                                    autofocus th:if="${categories != null}">
                                <option value="" selected="selected" hidden="hidden" th:value="-1">Choose here</option>
                                <option th:each="category : ${categories}"
                                        th:value="${category.getId()}"
                                        th:text="${category.getName()}">
                                </option>
                            </select>
                            <label class="error" th:errors="*{vehicleCategoryId}">Category error placeholder</label>
                        </div>
                        <br>
                        <div class="form-label-group">
                            <label for="inputColor" th:text="#{vehicle.label.colour}">Colour</label>
                            <input type="text" th:field="*{colour}" id="inputColor" class="form-control"
                                   placeholder="Color" required>
                            <label class="error" th:errors="*{colour}">Color error placeholder</label>
                        </div>

                        <br>

                        <div class="dropdown-divider"></div>
                        <button class="btn btn-lg btn-primary_ btn-block text-uppercase" type="submit" value="Save">
                            Save
                        </button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Bootstrap core JS-->
    <div th:replace="fragments/navmenu.html :: footer"></div>
</body>
</html>