<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <th:block th:include="fragments/navmenu.html :: navmenuHeadLinks"></th:block>
</head>
<body id="page-top">
<div th:include="fragments/navmenu.html :: navbar"></div>

<!-- Navigation-->
<div th:replace="fragments/navmenu.html :: navmenu"></div>
<!-- REGISTRATION START -->
<div class="container">
    <div class="row" style="margin-top: 120px">
        <div class="col-lg-10 col-xl-8 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Profile</h5>

                    <!--/*@thymesVar id="user" type=""*/-->
                    <form th:fragment="user-form" class="form-signin"
                          th:object="${user}"
                          method="get">
                        <div class="form-label-group">
                            <label for="inputFirstName" th:text="#{user.label.lastname}">Fist Name</label>
                            <input type="text"th:value="${user.getFirstName()}" id="inputFirstName" class="form-control"
                                   disabled>
                        </div>
                        <br>
                        <div class="form-label-group">
                            <label for="inputLastName" th:text="#{user.label.lastname}">Last Name</label>
                            <input type="text" th:value="${user.getLastName()}" id="inputLastName" class="form-control"
                                   disabled>
                        </div>
                        <br>
                        <div class="form-label-group">
                            <label for="inputEmail" th:text="#{user.label.email}">Email address</label>
                            <input type="email" th:value="${user.getEmail()}" id="inputEmail" class="form-control"
                                   disabled>
                        </div>
                        <br>
                        <div class="form-label-group">
                            <label for="inputPhone" th:text="#{user.label.phone}">Phone</label>
                            <input type="text" th:value="${user.getPhone()}" id="inputPhone" class="form-control"
                                   disabled>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- REGISTRATION END -->

<!-- Bootstrap core JS-->
<div th:replace="fragments/navmenu.html :: footer"></div>
</body>
</html>