<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <th:block th:include="fragments/navmenu.html :: navmenuHeadLinks"></th:block>
</head>
<body id="page-top">
<div th:include="fragments/navmenu.html :: navbar"></div>

<!-- Navigation-->
<div th:replace="fragments/navmenu.html :: navmenu"></div>
<!-- REGISTRATION START -->
<div class="container">
    <div class="row" style="margin-top: 120px">
        <div class="col-lg-10 col-xl-8 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>

                    <form th:fragment="user-form" class="form-signin" action="#"
                          th:action="@{/users/create}" th:object="${user}"
                          method="post">
                        <div class="form-label-group">
                            <label for="inputFirstName" th:text="#{user.label.firstname}">First Name</label>
                            <input type="text" th:field="*{firstName}" id="inputFirstName" class="form-control"
                                   placeholder="First name" required autofocus>
                            <label class="error" th:errors="*{firstName}">First name error placeholder</label>
                        </div>
                        <br>
                        <div class="form-label-group">
                            <label for="inputLastName" th:text="#{user.label.lastname}">Last Name</label>
                            <input type="text" th:field="*{lastName}" id="inputLastName" class="form-control"
                                   placeholder="Last name" required autofocus>
                            <label class="error" th:errors="*{lastName}">Last name error placeholder</label>
                        </div>
                        <br>
                        <div class="form-label-group">
                            <label for="inputEmail" th:text="#{user.label.email}">Email address</label>
                            <input type="email" th:field="*{email}" id="inputEmail" class="form-control"
                                   placeholder="Email address" required>
                            <label class="error" th:errors="*{email}">Email error placeholder</label>
                        </div>
                        <br>
                        <div class="form-label-group">
                            <label for="inputPhone" th:text="#{user.label.phone}">Phone</label>
                            <input type="text" th:field="*{phone}" id="inputPhone" class="form-control"
                                   placeholder="Phone" required>
                            <label class="error" th:errors="*{phone}">Phone error placeholder</label>
                        </div>

                        <div class="form-label-group">
                            <input type="hidden" value="Customer" th:value="Customer"  th:field="*{role}" class="form-control"
                                  required>
                        </div>

                        <div class="dropdown-divider"></div>
                        <button class="btn btn-lg btn-primary_ btn-block text-uppercase" type="submit" value="Save">
                            Register
                        </button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- REGISTRATION END -->

<!-- Bootstrap core JS-->
<div th:replace="fragments/navmenu.html :: footer"></div>
</body>
</html>