<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Services</title>
    <th:block th:include="fragments/navmenu.html :: navmenuHeadLinks"></th:block>

    <script LANGUAGE="JavaScript">
        function confirmSubmit() {
            var agree = confirm("Are you sure you wish to continue?");
            if (agree)
                return method = "get";
            else
                return false;
        }

        function clearFields() {
            document.getElementById("serviceName").value = "";
            document.getElementById("minPrice").value = "";
            document.getElementById("maxPrice").value = "";
        }
    </script>
</head>

<body id="page-top">
<div th:include="fragments/navmenu.html :: navbar"></div>

<!-- Navigation-->
<div th:replace="fragments/navmenu.html :: navmenu"></div>

<!-- REGISTRATION START -->
<div class="row" style="margin-top: 120px">
    <div class="col-lg-4 col-xl-3 mx-auto my-4">
        <div class="card flex-row">
            <div class="card-img-left d-none d-md-flex">
                <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">Search</h5>

                <form th:fragment="search-form" class="form-search" action="#"
                      th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${searchParams}"
                      method="post">

                    <div class="form-label-group">
                        <label for="serviceName" th:text="#{service.label.name}">Service name</label>
                        <input type="text" th:field="*{name}" id="serviceName" class="form-control"
                               placeholder="Service name" autofocus>
                        <label class="error" th:errors="*{name}">Vehicle error placeholder</label>
                    </div>
                    <br>
                    <div class="form-label-group">
                        <label for="minPrice" th:text="#{label.min-price}">From
                            date</label>
                        <input type="number" th:field="*{minPrice}" id="minPrice" class="form-control"
                               placeholder="min price">
                        <label class="error" th:errors="*{minPrice}">Min price</label>
                    </div>
                    <br>
                    <div class="form-label-group">
                        <label for="maxPrice" th:text="#{label.max-price}">From
                            date</label>
                        <input type="number" th:field="*{maxPrice}" id="maxPrice" class="form-control"
                               placeholder="max price">
                        <label class="error" th:errors="*{maxPrice}">Max price</label>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6 col-xl-6 mx-auto flex-row my-6">

                            <button class="btn btn-primary_ btn-block text-uppercase"
                                    type="button"
                                    onclick="clearFields(); return true;">Reset
                            </button>
                        </div>
                        <div class="col-lg-6 col-xl-6 mx-auto flex-row my-6">
                            <button class="btn btn-primary_ btn-block text-uppercase" type="Submit">Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-xl-7 mx-auto my-4">

        <table class="table table-bordered table-striped">
            <tr style="text-align: center">
                <th>Service Name</th>
                <th>Price per hour</th>
                <th th:if="${currentUser.isAdmin()}">Enabled</th>
                <th th:if="${!currentUser.isCustomer()}"colspan="2">&nbsp;</th>
            </tr>
            <div th:each="service : ${services}">
                <tr>
                    <td th:text="${service.getName()}">Service name</td>
                    <td th:text="${service.getPricePerHour()}">Price in BGN</td>
                    <td th:if="${currentUser.isAdmin()}" th:text="${service.isEnabled()}">Enabled</td>
                    <td th:if="${!currentUser.isCustomer()}"><a
                            th:href="@{'/services/' + ${service.getId()} + '/update'}">Update</a></td>
                    <td th:if="${!currentUser.isCustomer()}"><a
                            th:href="@{'/services/' + ${service.getId()} + '/delete'}"
                            onclick="return confirmSubmit();">Delete</a></td>
                </tr>
            </div>
            <div>
                <tr th:if="${!currentUser.isCustomer()}">
                    <td colspan="6">
                        <a class="btn btn-lg btn-primary_ btn-block text-uppercase" href="#"
                           th:href="@{'/services/create'}">
                            Create new
                        </a>
                    </td>
                </tr>
            </div>
        </table>
    </div>
</div>

<!-- Bootstrap core JS-->
<div th:replace="fragments/navmenu.html :: footer"></div>
</body>
</html>