<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Service form</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}"/>
    <th:block th:include="fragments/navmenu.html :: navmenuHeadLinks"></th:block>
</head>
<body id="page-top">
<div th:include="fragments/navmenu.html :: navbar"></div>

<!-- Navigation-->
<div th:replace="fragments/navmenu.html :: navmenu"></div>

<H1>Service Form!</H1>
<section class=" page-section bg-primary text-center" id="maintenanceItems">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body">

                        <form class="form-signin" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                              th:object="${serviceDto}"
                              method="post">
                            <h5 class="card-title text-center">Service</h5>
                            <div class="form-label-group" >
                                <label for="inputServiceName" th:text="#{service.label.name}">Service name</label>
                                <input type="text" th:value="${serviceDto.getName()}"
                                       th:field="*{name}"
                                       id="inputServiceName" class="form-control"
                                       placeholder="Service name">
                                <label class="error" th:errors="*{name}">Service name error
                                    placeholder</label>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <label for="pricePerHour" th:text="#{service.label.price}">To
                                    date</label>
                                <input type="number" min=0 step=0.01 th:value="${serviceDto.getPricePerHour()}"
                                       th:field="*{pricePerHour}" id="pricePerHour" class="form-control"
                                       placeholder="Price per hour">
                                <label class="error" th:errors="*{pricePerHour}">Price per hour placeholder</label>
                            </div>

                            <br>
                            <div class="row">
                                <div class="col-lg-6 col-xl-6 mx-auto flex-row my-6">
                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="Reset">Reset
                                    </button>
                                </div>
                                <div class="col-lg-6 col-xl-6 mx-auto flex-row my-6">
                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="Submit">Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Bootstrap core JS-->
<div th:replace="fragments/navmenu.html :: footer"></div>
</body>
</html>