<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View PDF</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}"/>
    <th:block th:include="fragments/navmenu.html :: navmenuHeadLinks"></th:block>
</head>
<body id="page-top">
<div th:include="fragments/navmenu.html :: navbar"></div>

<!-- Navigation-->
<div th:replace="fragments/navmenu.html :: navmenu"></div>


<div class="align-content-md-center">

    <br><br>
    <div>
        Test Iframe PDF:<br>
        <iframe width="100%" height="600px" src="../static/pdf/pdfInvoice.pdf" type="application/pdf" th:src="@{/pdf/pdfInvoice.pdf}"></iframe>
    </div>
<!--    <embed  width="600" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">-->
</div>
<!-- Bootstrap core JS-->
<div th:replace="fragments/navmenu.html :: footer"></div>
</body>
</html>